In [12]:
from pyspark.sql import SparkSession
import pandas as pd
# spark = SparkSession.builder.appName('ops').getOrCreate()
# df = spark.read.csv('apple.csv', inferSchema = True, header = True)
df = pd.read_csv('apple.csv', header = 0)

### Basic Operations

In [13]:
df.head()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2010-01-04,213.43,214.50,212.38,214.01,17633200.0,0.0,1.0,27.428730,27.566240,27.293790,27.503268,123432400.0
1,2010-01-05,214.60,215.59,213.25,214.38,21496600.0,0.0,1.0,27.579091,27.706320,27.405597,27.550818,150476200.0
2,2010-01-06,214.38,215.23,210.75,210.97,19720000.0,0.0,1.0,27.550818,27.660055,27.084312,27.112585,138040000.0
3,2010-01-07,211.75,212.00,209.05,210.58,17040400.0,0.0,1.0,27.212826,27.244955,26.865839,27.062465,119282800.0
4,2010-01-08,210.30,212.00,209.06,211.98,15986100.0,0.0,1.0,27.026481,27.244955,26.867124,27.242385,111902700.0

In [14]:
df.shape

(1762, 13)

In [16]:
df.describe()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
count,1762.000000,1762.000000,1762.000000,1762.000000,1.762000e+03,1762.000000,1762.000000,1762.000000,1762.000000,1762.000000,1762.000000,1.762000e+03
mean,313.074500,315.910814,309.824105,312.926818,2.819498e+07,0.016254,1.003405,74.418319,75.086539,73.684675,74.396986,9.422467e+07
std,185.301563,186.898629,183.374468,185.147360,2.006877e+07,0.201295,0.142938,28.346796,28.572294,28.120892,28.343637,6.020590e+07
min,90.000000,90.700000,89.470000,90.280000,5.624800e+06,0.000000,1.000000,24.722226,25.188732,24.449777,24.681102,1.147592e+07
25%,115.222500,116.362500,114.002500,115.190000,1.379790e+07,0.000000,1.000000,49.846058,50.295857,49.183248,49.882685,4.915603e+07
50%,318.230000,320.600000,316.545000,318.240000,2.177095e+07,0.000000,1.000000,72.471613,73.063212,71.707141,72.398461,8.050385e+07
75%,470.880000,478.110000,467.973500,472.592500,3.700019e+07,0.000000,1.000000,99.277854,99.942148,98.580770,99.401332,1.210816e+08
max,702.410000,705.070000,699.570000,702.100000,1.895606e+08,3.290000,7.000000,128.233349,128.314416,125.839962,126.931724,4.702495e+08

In [17]:
df.filter('close < 500').select(['High', 'Low']).show()

AttributeError: 'DataFrame' object has no attribute 'select'

In [18]:
df.filter(df['close'] < 500).select(['High', 'Low']).show()

KeyError: 'close'

In [19]:
df.filter((df['Open'] > 200) & ~(df['Close'] < 200)).show()

AttributeError: 'DataFrame' object has no attribute 'show'

In [20]:
df.filter(df['Low'] == 197.16).show()

AttributeError: 'DataFrame' object has no attribute 'show'

In [21]:
df.filter(df['Low'] == 197.16).collect()

AttributeError: 'DataFrame' object has no attribute 'collect'

In [22]:
result = df.filter(df['Low'] == 197.16).collect()

AttributeError: 'DataFrame' object has no attribute 'collect'

In [23]:
result

NameError: name 'result' is not defined

In [24]:
row = result[0]
row.asDict()['Volume']

NameError: name 'result' is not defined

In [25]:
df = spark.read.csv('sales_info.csv', inferSchema = True, header = True)
df.show(3)

NameError: name 'spark' is not defined

In [26]:
df.printSchema()

AttributeError: 'DataFrame' object has no attribute 'printSchema'

### Groupby and Aggregate

In [27]:
df.groupBy('Company')

AttributeError: 'DataFrame' object has no attribute 'groupBy'

In [ ]:
df.groupBy('Company').mean().show()

In [ ]:
df.groupBy('Company').sum().show()

In [ ]:
df.groupBy('Company').min().show()

In [ ]:
df.groupBy('Company').count().show()

In [ ]:
df.agg({'Sales': 'min'}).show()

In [ ]:
df.agg({'Sales': 'sum'}).show()

In [ ]:
group_data = df.groupBy('Company')

In [ ]:
group_data.agg({'Sales': 'sum'}).show()

In [ ]:
from pyspark.sql.functions import countDistinct, avg, stddev
df.select(countDistinct('Sales')).show()

In [ ]:
df.select(avg('Sales').alias('Average Sales')).show()

In [ ]:
df.select(countDistinct('Company')).show()

In [ ]:
df.select(stddev('Sales')).show()

In [ ]:
df.select(stddev('Sales').alias('std')).show()

In [ ]:
from pyspark.sql.functions import format_number
sales_std = df.select(stddev('Sales').alias('std'))

In [ ]:
sales_std.show()

In [ ]:
sales_std.select(format_number('std', 2).alias('std')).show()

In [ ]:
df.show()

In [ ]:
df.orderBy('Sales').show()

In [ ]:
df.orderBy(df['Sales'].desc()).show()

### Missing Value

In [ ]:
df = spark.read.csv('ContainsNull.csv', inferSchema = True, header=True)
df.show()

In [ ]:
df.na.drop().show()

In [ ]:
df.na.drop(thresh=2).show()

In [ ]:
df.na.drop(how = 'all').show()

In [ ]:
df.na.drop(subset="Sales").show()

In [ ]:
df.na.drop(subset='Name').show()

In [ ]:
df.printSchema()

In [ ]:
df.na.fill(0).show()

In [ ]:
df.na.fill('fill value').show()

In [ ]:
df.na.fill('no name', subset = 'Name').show()

In [ ]:
from pyspark.sql.functions import mean
df.select(mean('Sales')).collect()

In [ ]:
df.select(mean(df['Sales'])).collect()

In [ ]:
mean_val = df.select(mean(df['Sales'])).collect()

In [ ]:
mean_sales = mean_val[0][0]

In [ ]:
df.na.fill(mean_sales, subset = 'Sales').show()

In [ ]:
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0]).show()

### Dates and Timestamps

In [ ]:
df = spark.read.csv('appl_stock.csv', inferSchema = True, header=True)

In [ ]:
df.take(1)

In [ ]:
df.select('Date', 'Open').show()

In [ ]:
from pyspark.sql.functions import (dayofmonth, hour, dayofyear, month,
                                  year, weekofyear, format_number, date_format)

In [ ]:
df.select(dayofmonth(df['Date'])).show(5)

In [ ]:
df.select(hour(df['Date'])).show(5)

In [ ]:
df.select(month(df['Date'])).show(5)

In [ ]:
df.select(year(df['Date'])).show(5)

In [ ]:
new_df = df.withColumn('Year', year(df['Date']))

In [ ]:
result = new_df.groupBy('Year').mean().select(['Year', 'avg(Close)'])
result.show()

In [ ]:
new_result = result.withColumnRenamed('avg(Close)', 'Average Closing Price')
new_result.show()

In [ ]:
new_result.select(['Year', format_number('Average Closing Price', 2).alias('Average Closing Price')]).show()